<template>
  <v-layout row wrap justify-center id="wrapper">
    <v-flex xs12 class="text-xs-center centered">
      <h1 class="display-4">Workout Name; Prep</h1>
    </v-flex>
    <v-flex xs4 offset-xs2>
      <review-changes></review-changes>
    </v-flex>
    <v-flex xs6>
      <v-btn dark large color="success" :to="{path: '/exercise'}">Start First Exercise
        <v-icon right dark>play_arrow</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
  import ReviewChanges from './ReviewChanges.vue'
  export default {
    name: 'workout-prep',
    components: {
      ReviewChanges
    }
  }
</script>

<style scoped>
  .centered
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo
  {
    max-width: 100%;
  }

  .link-btn
  {
    width: 150px;
  }
</style>
