<template>
  <v-layout row wrap justify-center id="wrapper">
    <v-flex xs12 class="text-xs-center centered">
      <h1 class="display-4">Good Morning, Drew!</h1>
    </v-flex>
    <v-flex xs10 class="mt-4">
      <todays-workout></todays-workout>
    </v-flex>
    <v-flex xs10 class="mt-4">
      <workout-report></workout-report>
    </v-flex>
  </v-layout>
</template>

<script>
  import WorkoutReport from './WorkoutReport'
  import TodaysWorkout from './TodaysWorkout'

  export default {
    name: 'welcome',
    components: { WorkoutReport, TodaysWorkout },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style scoped>
  .centered
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo
  {
    max-width: 100%;
  }

  .link-btn
  {
    width: 150px;
  }
</style>
