<template>
  <v-footer app>
    <!-- Footer is for dev only  -->
    <span>Current Path: <strong>{{ footerInfo.fullPath }}</strong></span>
    <v-spacer></v-spacer>
    <span>Current View Name: <strong>{{ footerInfo.viewName }}</strong></span>
    <v-spacer></v-spacer>
    <span>Path Has Meta Data: <strong>{{ footerInfo.hasMetaData }}</strong></span>
  </v-footer>
</template>

<script>
 export default {
   computed: {
     footerInfo () {
       return {
         fullPath: this.$route.fullPath,
         hasMetaData: this.$route.length > 0,
         viewName: this.$route.name
       }
     }
   }
}
</script>
