<template>
  <v-toolbar app dark dense>
    <!-- <v-spacer></v-spacer> -->
    <h4 class="headline mr-3 timer-title">Start Time: {{ workoutStart | moment('h:m a')}}</h4>
    <h4 class="headline mr-3 timer-title">Total Workout: {{ totalTime }}</h4>
    <v-progress-linear height="20" slot="extension" v-model="value"></v-progress-linear>
  </v-toolbar>
</template>

<script>
 import {
   mapGetters
   // mapActions,
   // mapMutations
 } from 'vuex'
 var moment = require('moment')
 export default {
   data () {
     return {
       interval: {},
       value: 0,
       totalTime: null
     }
   },
   beforeDestroy () {
     clearInterval(this.interval)
   },
   mounted () {
     this.interval = setInterval(() => {
       if (!this.showTimers) return (this.value = 0)
       this.totalTime = moment(this.workoutStart).fromNow(true)
       if (this.value >= 100) {
         return (this.value = 0)
       }
       this.value = ((((moment() - this.workoutStart) / 1000) / 60) / this.plannedWorkout.duration) * 100
     }, 1000)
   },
   computed: {
     ...mapGetters({
       showTimers: 'showTimers',
       workoutStart: 'startDateTime',
       exerciseStart: 'ceStartDateTime',
       plannedWorkout: 'plannedWorkout'
     })
   },
   methods: {
     clearMe () {
       this.value = 0
       this.totalTime = null
       clearInterval(this.interval)
     }
   }
}
</script>

<style scoped>
  .timer-title
  {
    color: white;
  }
</style>
