<template>
  <v-card>
    <v-card-title class="headline">
      Today's Workout
    </v-card-title>
    <v-divider></v-divider>
    <v-layout row wrap class="pa-3">
      <v-flex xs12 sm6 class="item">
        <h2 class="display-2">Workout Type</h2>
      </v-flex>
      <v-flex xs12 sm6 class="item">
          <div v-for="item in workoutProps">
            <div class="name">{{ item.name }}</div>
            <div class="value">{{ item.value }}</div>
          </div>
      </v-flex>
    </v-layout>
    <v-card-actions>
      <!-- <v-spacer></v-spacer> -->
      <v-btn dark large block  color="success" @click="startWorkout()">Start
        <v-icon right dark>play_arrow</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        workoutProps: [
          {name: 'Scheduled Start Time:', value: 'Tuesday, Oct 18th @ 5:30am'},
          {name: 'Expected End Time:', value: 'Tuesday, Oct 18th @ 6:30am'}
        ]
      }
    },
    methods: {
      startWorkout () {
        this.$store.dispatch('setWorkoutStart')
        this.$store.commit('SHOW_TIMERS')
        this.$router.push({path: '/workout-prep'})
      }
    }
  }
</script>

<style scoped>
  .item
  {
    text-align: center;
  }
  .logo
  {
    max-width: 100%;
  }

  .name
  {
    display: inline;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .value
  {
    display: inline;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
  }
</style>
