<template>
  <v-layout row wrap justify-center id="wrapper">
    <v-flex xs12 class="text-xs-center centered">
      <h1 class="display-4">Workout Name; Set #</h1>
    </v-flex>
    <v-flex xs10 class="mt-4">
      <how-card></how-card>
    </v-flex>
    <v-flex xs10 class="mt-4">
      <goals></goals>
    </v-flex>
  </v-layout>
</template>

<script>
  import HowCard from './HowCard.vue'
  import Goals from './Goals.vue'

  export default {
    name: 'workout-prep',
    components: { HowCard, Goals },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style scoped>
  .centered
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo
  {
    max-width: 100%;
  }

  .link-btn
  {
    width: 150px;
  }
</style>
