<template>
  <v-card>
    <v-card-title class="headline">
      Exercise Goals
    </v-card-title>
    <v-divider></v-divider>
    <v-layout row wrap class="pa-3">
      <v-flex xs3 class="item">
        <h4>Weight</h4>
        <p>###lbs</p>
      </v-flex>
      <v-flex xs3 class="item">
        <h4>Reps</h4>
        <p>##</p>
      </v-flex>
      <v-flex xs3 class="item">
        <h4>Intensity</h4>
        <p>##</p>
      </v-flex>
      <v-flex xs3 class="item">
        <v-btn dark large icon color="success">
          <v-icon dark>play_arrow</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        electron: process.versions['atom-shell'],
        name: 'landing-page',
        node: process.versions.node,
        path: '/',
        platform: require('os').platform(),
        vue: require('vue/package.json').version
      }
    }
  }
</script>

<style scoped>
  .item
  {
    text-align: center;
  }

  .logo
  {
    max-width: 100%;
  }

  .name
  {
    display: inline;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .value
  {
    display: inline;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
  }
</style>
