<template>
  <v-card>
    <v-card-title class="headline">
      Exercise Description
    </v-card-title>
    <v-divider></v-divider>
    <v-layout row wrap class="pa-3">
      <v-flex xs12 sm6 class="item">
        <img id="logo" class="logo" src="http://lorempixel.com/500/300/sports/1" alt="Sport">
      </v-flex>
      <v-flex xs12 sm6 class="item">
        <img id="logo" class="logo" src="http://lorempixel.com/500/300/sports/2" alt="Sport">
      </v-flex>
      <v-flex xs12 class="item">
        <h4>Notes: Some notes here</h4>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        electron: process.versions['atom-shell'],
        name: 'landing-page',
        node: process.versions.node,
        path: '/',
        platform: require('os').platform(),
        vue: require('vue/package.json').version
      }
    }
  }
</script>

<style scoped>
  .item
  {
    text-align: center;
  }

  .logo
  {
    max-width: 100%;
  }

  .name
  {
    display: inline;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .value
  {
    display: inline;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
  }
</style>
