<template>
  <div id="app">
    <v-app dark>
      <global-timer v-if="showTimers"></global-timer>
      <v-navigation-drawer
        fixed
        permanent
        mini-variant
        v-model="drawer"
        enable-resize-watcher
        disable-route-watcher
        app
      >
        <v-list>
          <v-list-tile
            router
            :to="item.to"
            :key="i"
            v-for="(item, i) in items"
            exact
          >
            <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-content>
        <v-container fluid fill-height>
          <v-slide-y-transition mode="out-in">
            <router-view></router-view>
          </v-slide-y-transition>
        </v-container>
      </v-content>
      <dev-footer></dev-footer>
    </v-app>
  </div>
</template>

<script>
  import {
    mapGetters
  //   mapMutations
  } from 'vuex'
  import GlobalTimer from './components/WelcomeView/GlobalTimer.vue'
  import DevFooter from './components/WelcomeView/DevFooter.vue'
  export default {
    name: 'workout-app',
    components: { DevFooter, GlobalTimer },
    data: () => ({
      items: [
        { icon: 'home', title: 'Home', to: '/' },
        { icon: 'insert_chart', title: 'Spotify', to: '/inspire' }
        // { icon: 'queue_music', title: 'Report', to: '/spotify' }
      ],
      drawer: true
    }),
    computed: {
      ...mapGetters({
        showTimers: 'showTimers'
      })
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
  /* Global CSS */
</style>
